{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ equipe.nome }}
{% endblock title %}

{% block content %}
<h1 class="titulo_equipe">Equipe {{ equipe.nome }} </h1>
<br>
<section class="dados-de-equipe">
    <img src="{{ equipe.logo }}" alt="Logo da equipe {{ equipe.nome}}" class="logo">
    <header>
        <h3>Descrição</h3>
    </header>
    {{ equipe.descricao }}

    <br>
    {% if perms.equipes.change_equipe %}
        <a href="{% url 'equipes:update' equipe.pk %}"><button>Editar</button></a>
    {% endif%}

</section>

<hr>

<section>

    <div class="console-log">
        <div class="log-content">
            <div class="--noshadow" id="demoEvoCalendar"></div>
        </div>
    </div>

    {% if perms.equipes.change_equipe %}
        <a href="{% url 'equipes:evento' equipe.pk %}"><button >Editar Eventos</button></a>
    {% endif%}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="{% static 'js/evo-calendar.js' %}"></script>
    <script src="{% static 'js/demo2.js' %}"></script>
    
    <script> 
        var t = JSON.parse('{{ eve | escapejs  }}');

        $(document).ready(function() {
            
            $("#demoEvoCalendar").evoCalendar("addCalendarEvent", t);
        });

    </script>
</section>

<hr>

<section>
    <header>
        <h3>Membros</h3>
    </header>
    <ul>
        {% if equipe.membro_set.all %}
            {% for membro in equipe.membro_set.all %}
            <p>
                {{ membro.nome }}
                <ul>
                    <li>Curso: {{ membro.curso }}</li>
                    <li>Ingressou na equipe em: {{ membro.entrada_equipe|date }} </li>
                    {% if perms.equipes.change_equipe %}
                        <li><a href="{% url 'equipes:delete-membro' membro.id %}">Remover</a></li>
                    {% endif%}
                </ul>
            </p>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhum membro nesta equipe.</p>
        {% endif %}
    </ul>

    {% if perms.equipes.change_equipe %}
        <a href="{% url 'equipes:membro' equipe.pk %}"><button>Adicionar Membro</button></a>
    {% endif%}
</section>
<hr>
<section>
    <header>
        <h3>Fotos</h3>
    </header>
    <ul>
        {% if equipe.foto_set.all %}
            {% for foto in equipe.foto_set.all %}
            <img src="{{ foto.link }}">
            {% if perms.equipes.change_equipe %}
            <li><a href="{% url 'equipes:delete-foto' foto.id %}">Remover</a></li>
            {% endif%}
            {% endfor %}
        {% else %}
            <p>Não há fotos para esta equipe.</p>
        {% endif %} 
    </ul>

    {% if perms.equipes.change_equipe %}
        <a href="{% url 'equipes:foto' equipe.pk %}"><button>Adicionar Foto</button></a>
    {% endif%}
</section>
<hr>
<section>
    {% if perms.equipes.delete_equipe %}
        <p ><a style="color:red" href="{% url 'equipes:delete' equipe.id %}">Apagar Equipe</a></p>
    {% endif%}
</section>

{% endblock content %}